spring:
  config:
    import: optional:configserver:http://localhost:8888

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
